annotated-types==0.7.0
anyio==4.11.0
attrs==25.4.0
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
exceptiongroup==1.3.0
gitingest==0.3.1
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
google-genai==1.49.0
googleapis-common-protos==1.72.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.11
loguru==0.7.3
numpy==2.2.6
oauthlib==3.3.1
outcome==1.3.0.post0
packaging==25.0
pathspec==0.12.1
peewee==3.18.3
proto-plus==1.26.1
protobuf==6.33.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
pyparsing==3.2.5
PySocks==1.7.1
python-dotenv==1.2.1
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
selenium==4.38.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.50.0
StrEnum==0.4.15
tenacity==9.1.2
tiktoken==0.12.0
trio==0.32.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==15.0.1
win32_setctime==1.2.0
wsproto==1.2.0
